
@media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  
@page {
    size: auto;
    margin: 0;
}

.component-to-print {
    padding: 12mm 10mm;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, min-content) auto min-content;
    position: relative;
    background-color: white;
    row-gap: 6mm;
    box-sizing: border-box;
    &-logo {
        width: 40%;
        justify-self: end;
    }
    &-customerInfo {
        margin: 0 18mm;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content auto;
        column-gap: 2em;
        &-tlsContact {
            margin: 0;
            align-self: center;
            font-size: 0.6em;
            & span {
                padding: 0 2px;
                color: #00b7ff;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        &-companyName {
            align-self: center;
        }
        &-header {
            font-size: 0.9em;
            text-align: center;
            font-weight: bold;
            letter-spacing: 0.7em;
            margin: 0;
        }
        & table {
            border-spacing: 0;
            padding-top: 10px;
            justify-self: start;
            font-weight: 400;
            & tr td {
                padding: 0;
                &:first-child {
                    padding-right: 20px;
                }
            }
        }
    }
    &-configuration {
        margin: 0 7mm;
        display: grid;
        grid-template-columns: max-content max-content auto auto max-content;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        grid-auto-rows: min-content;
        box-sizing: border-box;
        font-size: 0.9em;
        font-weight: 400;
        p {
            border-bottom: 1px solid rgb(206, 206, 206);
            margin: 0;
            padding: 4px 10px;
            text-align: center;
        }
        p:nth-child(3) {
            grid-column: 3 / span 2;
        }
        &-header {
            font-weight: 700;
            border-bottom: 1px solid black !important;
            padding: 5px 10px !important;
        }
        &-desc {
            text-align: left !important;
        }
        &-footer {
            grid-column: 1 / span 5;
        }
    }
    &-contact-info {
        display: grid;
        font-size: 0.5em;
        grid-template-columns: 1fr 1fr 1.7fr;
        align-self: end;
        margin: 0 10mm;
        &-col1 {
            border-left: 2px dotted black;
            border-right: 2px dotted black;
            padding: 0 10px;
            display: grid;
            grid-template-rows: repeat(6, min-content);
            column-gap: 5px;
            p {
                margin: 0;
            }
            p:first-child {
                color: #00b7ff;
                font-size: 0.3rem;
                span{
                    font-size: 0.6rem;
                }
            }
        }
        &-col2 {
            border-right: 2px dotted black;
            padding: 0 10px;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(4, min-content);
            column-gap: 5px;
            p {
                white-space: nowrap;
                margin: 0;
            }
        }
        &-col3 {
            border-right: 2px dotted black;
            padding: 0 10px;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(3, min-content);
            column-gap: 5px;
            p {
                margin: 0;
            }
        }
    }
}