.conf-main-right {
    @include main-boxes($main-right-width, 100%);
    flex-direction: column;    
    padding-left: 5px; 
}

.conf-main-right-top {
    @include main-right-windows;
    height: 41%;
    display: flex;
    flex-direction: column;
    &-img {
        max-height: 100%;
        box-sizing: border-box;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        &-wrapper {
            width: 295px;
            height: 150px;
            box-sizing: border-box;
            padding: 5px;
        }
    }
    &-frameName {
        background-color: $main-color-light5;
        font-size: 1.1rem;
        text-align: center;
        padding: 3px;
        border-bottom: $border-panel;
        border-top: $border-panel;
        box-sizing: border-box;
    }
    &-subFrameMenu {
        &-list {
            display: flex;
            flex-direction: column;
            &-line{
                padding: 3px;
                box-sizing: border-box;
                display: flex;
                position: relative;
                &-text {
                    @include zero-m-and-p;
                }
                &-check-box {
                    @include check-box;
                    position: absolute;
                }
                &-dark {
                    background-color: $main-color-light5;
                }
                &-light {
                    background-color: transparent;
                }
            }
        }
    }
}

.conf-main-right-bottom {
    &_l0 {
        @include main-boxes(100%, 59%);
        height: 59%;
        flex-direction: column;
        padding-top: 3px;
        &-list {
            @include list_l0;
            &-tab {
                font-size: 0.7rem;
            }
        }
        &-panel {
            @include main-right-windows;
            flex: 1;
            display: none;
            position: relative;
            &--selected {
                display: flex;
                flex-direction: column;
            }
        }
    }
    &_l1 {
        &-conf-list {
            @include zero-m-and-p;
            height: 90%;
            position: relative;
            display: grid;
            grid-template-columns: max-content $specs-menu-width+2*$conf-desc-line-padding auto min-content;
            grid-auto-rows: min-content;
            overflow-y: scroll;
            & > div:nth-child(8n+5), & > div:nth-child(8n+6), & > div:nth-child(8n+7),  & > div:nth-child(8n+8) {
                background-color: $main-color-light2;
            }
            & > div {
                display: flex;
                align-items: center;
                padding: $conf-desc-line-padding;
            }
            & > div:nth-child(4n+1) {
                padding-left:  $conf-desc-line-padding*4;
            }
            & > div:nth-child(4n+4) {
                padding-right: $conf-desc-line-padding*4;
            }
            & > div:nth-last-child(-n+4) {
                margin-bottom: 2.5em;
            }
            &-specs-menu {
                cursor: pointer;
                position: relative;
                width: 0;
                height: 0;
                border-top: $specs-menu-width/2 solid transparent;
                border-bottom: $specs-menu-width/2 solid transparent;
                border-left: $specs-menu-width solid red;
                &-list {
                    @include zero-m-and-p;
                    padding: 0 4px;
                    list-style: none;
                    position: absolute;
                    right: 0;
                    top: -0.6em;
                    border: $border-panel;
                    border-radius: $border-radius-value;
                    transform: translate(100%);
                    background-color: $main-windows-background-color;
                    overflow: hidden;
                    display: none;
                    box-sizing: border-box;
                    &--visible {
                        display: inline;
                    }
                    &--hiden {
                        display: none;
                    }
                    &-li--bordered  {
                        border-bottom: $border-panel;
                    }
                }
            }
            &-reset {
                height: 13px;
                width: 13px;
                border: 2px solid $main-color-light1;
                border-radius: 100px;
                position: relative;
                background-color: $main-color-light1;
                &::before, &::after {
                    position: absolute;
                    content: '';
                    top: 6px;
                    width: 13px;
                    height: 1.5px;
                    background-color: white;
                }
                &::before {
                    transform: rotate(-45deg);
                }
                &::after {
                    transform: rotate(45deg);
                }
            }
        }
        &-print-conf-list {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 10%;
            width: 100%;
            border-top: $border-panel;
            box-sizing: border-box;
            background-color: $main-color-light5;
            &-button {
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $main-color-light1;
                border-radius: $border-radius-value;
                border: $border-panel;
                outline: none;
                padding: 3px 12px;
                &:hover {
                    background-color: $main-color-dark1;
                } 
            }
        }
    }
}