$footer-height: 80px;
$gap: 6mm;
$head-border-weidht: 2px;
$space-height: $footer-height + $head-border-weidht + $gap;


@media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
    }
}
  
@page {
    size: auto;
    margin: 15mm 10mm;
}

p {
    page-break-inside: avoid !important;
}

.component-to-print {
    width: 100%;
    font-weight: 400;
    & > table {
        width: 100%;
    }
    &-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-columns: 100%;
        row-gap: 6mm;
        &-logo {
            width: 40%;
            justify-self: end;
        }
        &-customerInfo {
            margin: 0 18mm;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content auto;
            column-gap: 10mm;
            &-tlsContact {
                margin: 0;
                align-self: center;
                font-size: 0.7em;
                & span {
                    padding: 0 2px;
                    color: #0095cf;
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
            &-companyName {
                align-self: center;
            }
            &-header {
                font-size: 0.9em;
                text-align: center;
                font-weight: bold;
                letter-spacing: 0.7em;
                margin: 0;
            }
            & table {
                border-spacing: 0;
                padding-top: 10px;
                justify-self: start;
                font-weight: 400;
                & tr td {
                    padding: 0;
                    &:first-child {
                        padding-right: 20px;
                    }
                }
            }
        }
        &-configuration {
            font-size: 0.9em;
            font-weight: 400;
            margin: 0 7mm;
            border-spacing: 0;
            width: calc(100% - 14mm);
            & thead {
                & tr {
                    page-break-inside: avoid !important;
                    & th {
                        font-weight: 700;
                        border-top: $head-border-weidht solid black;
                        border-bottom: $head-border-weidht solid black;
                        padding: 5px 10px;
                        white-space: nowrap;
                        &:nth-child(3) {
                            width: 100%;
                        }
                    }
                }
            }
            & tbody {
                & tr {
                    page-break-inside: avoid !important;
                    & td {
                        border-bottom: 1px solid rgb(129, 129, 129);
                        white-space: nowrap;
                        text-align: center;
                        vertical-align: top;
                        padding: 1.5mm 3mm;
                        &:nth-child(3), &:nth-child(4) {
                            text-align: left !important;
                        }
                        &:nth-child(4) {
                            white-space: normal !important;
                        }
                    }
                }
            }
        }
    }
    &-footer {
        border-top: 2px solid black;
        display: grid;
        position: fixed;
        bottom: 0;
        font-size: 0.6rem;
        margin: 0 7mm;
        padding: 0 3mm;
        padding-top: 6mm;
        height: 80px;
        font-weight: 500;
        grid-template-columns: 1.1fr 1fr 1.7fr;
        width: calc(100% - 14mm);
        &-col1 {
            border-left: 2px dotted black;
            border-right: 2px dotted black;
            display: grid;
            column-gap: 5px;
            grid-auto-rows: min-content;
            padding: 0 5px;
            p {
                margin: 0;
            }
            p:first-child {
                color: #0095cf;
                font-size: 0.5em;
                span{
                    font-size: 0.6rem;
                }
            }
        }
        &-col2-3 {
            border-right: $head-border-weidht dotted black;
            padding: 0 5px;
            display: grid;
            column-gap: 5px;
            grid-auto-rows: min-content;
            grid-template-columns: max-content max-content;
            p {
                margin: 0;
            }
        }
    }
}

.footer-height {
    height: $space-height;
}
