.print-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    @keyframes fadein {
        0% {visibility: hidden; opacity: 0;}
        100% {visibility: visible; opacity: 1;}
    }
    @keyframes fadeout {
        0% {visibility: visible; opacity: 1;}
        100% {visibility: hidden; opacity: 0;}
    }
    &--visible {
        animation: fadein 0.2s linear .2s 1 normal both;
    }
    &--hidden {
        animation: fadeout 0.2s linear 0s 1 normal both;
    }
    &-box {
        white-space: nowrap;
        padding: 20px;
        border: 2px solid $main-color-dark1;
        border-radius: $border-radius-value;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto min-content;
        grid-template-areas:
        "header header"
        "form form"
        "error-list error-list"
        "submit cancel";
        row-gap: $main-padding;
        &-header {
            grid-area: header;
            margin: 0;
            justify-self: center;
        }
        &-form {
            text-align: right;
            grid-area: form;
            display: grid;
            grid-template-columns: max-content min-content;
            row-gap: 5px;
            &--unValidated {
                border-bottom: 1px solid red !important;
            }
            & label {
                padding-right: 5px;
            }
            & input {
                border: 1px solid transparent;
                border-bottom: 1px solid $main-color-dark1;
                &:focus {
                    outline: none;
                    border: 1px solid black;
                }
            }
        }
        &-submit {
            grid-area: submit;
            margin: 0 5px;
        }
        &-cancel {
            grid-area: cancel;
            margin: 0 5px;
        }
    }
}